/* added colours and fonts to be used across the document */
:root {
  --myGreen: rgb(0, 255, 171);
  --myBlack: #282828;
  --myGrey: #353535;
}

* {
  font-family: 'Alexandria', sans-serif;
}

body {
  background-color: var(--myBlack);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: white;
  border-radius: 0;
  padding-bottom: 0px;
}

#currentDay {
  padding-top: 20px;
  font-weight: bold;
  font-size: 2rem;
}

#scheduleGrid {
  padding-bottom: 75px;
}

.description {
  white-space: pre-wrap;
  text-align: left;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 85px;
  border-top: 2px solid var(--myBlack);
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-left: 7px solid var(--myGreen);
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #fe94b0;
  color: white;
}

.future {
  background-color: #27ffc9;
  color: white;
}

.saveBtn {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background-color: var(--myGreen);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* styling for the save icon */
.fa-save {
  color: var(--myGrey);
}

.fa-save:hover {
  color: white;
}

/* below are formats for the timeblocks on smaller screens */
@media (max-width: 995px) and (min-width: 769px) {
  .hour {
    font-size: 14px;
    padding-top: 7px;
    padding-left: 9px;
  }
}

@media (max-width: 768px) {
  .row {
    height: auto;
    border-top: 10px solid var(--myBlack);
  }

  .saveBtn {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .hour {
    border-left: 0px;
    border-top: 7px solid var(--myGreen);
    padding-right: 60px;
  }

  textarea {
    min-height: 100px;
  }

  .description {
    text-align: center;
  }
}